body {
  background-color: black;
}

input {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.wrapper {
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
}

.wrapper > div {
  padding: 20px;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 10px;
}

.blue {
  background-color: aqua;
  color: black;
}
 